
#Academics:

/Academics/tp1/exo1
/Academics/tp1/exo2
/Academics/tp1/exo3
/Academics/tp1/exo4

/Academics/tp2/Fraction.o
/Academics/tp2/main.o
/Academics/tp2/main

/Academics/tp3/chercheur/Chercheur.o
/Academics/tp3/ensChercheur/EnsChercheur.o
/Academics/tp3/enseignant/Enseignant.o
/Academics/tp3/etudiant/Etudiant.o
/Academics/tp3/personne/Personne.o
/Academics/tp3/population/main
/Academics/tp3/main
/Academics/tp3/main.o
/Academics/tp4/Arbre/Arbre.o
/Academics/tp4/Arbre/main
/Academics/tp4/Arbre/main.o
/Academics/tp4/File/File.o
/Academics/tp4/File/main
/Academics/tp4/File/main.o

/HackerRank
/PersonalChallenges