
#Academics:

/TP_CPP/Academics/tp1/exo1
/TP_CPP/Academics/tp1/exo2
/TP_CPP/Academics/tp1/exo3
/TP_CPP/Academics/tp1/exo4

/TP_CPP/Academics/tp2/Fraction.o
/TP_CPP/Academics/tp2/main.o
/TP_CPP/Academics/tp2/main

/TP_CPP/Academics/tp3/chercheur/Chercheur.o
/TP_CPP/Academics/tp3/ensChercheur/EnsChercheur.o
/TP_CPP/Academics/tp3/enseignant/Enseignant.o
/TP_CPP/Academics/tp3/etudiant/Etudiant.o
/TP_CPP/Academics/tp3/personne/Personne.o
/TP_CPP/Academics/tp3/population/main
/TP_CPP/Academics/tp3/main
/TP_CPP/Academics/tp3/main.o
/TP_CPP/Academics/tp4/Arbre/Arbre.o
/TP_CPP/Academics/tp4/Arbre/main
/TP_CPP/Academics/tp4/Arbre/main.o
/TP_CPP/Academics/tp4/File/File.o
/TP_CPP/Academics/tp4/File/main
/TP_CPP/Academics/tp4/File/main.o

/TP_CPP/HackerRank
/TP_CPP/PersonalChallenges